<div>
  <h4>/command [who/channel] [what] [when]</h4>
  <form ng-submit="$ctrl.generateCommand()">
    <p>
      <label>Who/Channel</label>
      <input type="text" ng-model="who" required/>
    </p>
    <p>
      <label>What</label>
      <input type="text" ng-model="what" required/>
    </p>
    <p><!--TODO: 특정 일시 또는 반복 일정을 선택할 수 있도록 해야한다-->
      <label>When (Specific Date)</label>
      <input type="date" name="input" ng-model="date" placeholder="yyyy-MM-dd" required />
    </p>
    <p>
      <label>When (Specific Time)</label>
      <input type="time" name="input" ng-model="time" required />
    </p>
    <p>
      <label>When (Repeat Datetime)</label>
    </p>
    <p>
      <!--TODO: 아이콘으로 하면 이쁠듯-->
      <label>Sunday</label>
      <input type="checkbox" ng-model="sunday" value="sunday" />
      <label>Monday</label>
      <input type="checkbox" ng-model="monday" value="monday"/>
      <label>Tuesday</label>
      <input type="checkbox" ng-model="tuesday" value="tuesday" />
      <label>Wednesday</label>
      <input type="checkbox" ng-model="wednesday" value="wednesday" />
      <label>Thursday</label>
      <input type="checkbox" ng-model="thursday" value="thursday" />
      <label>Friday</label>
      <input type="checkbox" ng-model="friday" value="friday" />
      <label>Saturday</label>
      <input type="checkbox" ng-model="saturday" value="saturday" />
    </p>
    <p>
      <input type="submit" value="Generate!">
    </p>
  </form>
  <p>
    <label>command result</label> <input type="text" ng-model="command" disabled/>
  </p>
</div>